#version=PXE

bootloader --location=mbr --driveorder="sda" --boot-drive=sda --append="rhgb quiet"

# Disk partitioning information
clearpart --all --initlabel

part /boot --fstype="ext4" --ondisk=sda --size=1024
part /boot/efi --fstype="ext4" --ondisk=sda --size=512
part pv.478 --fstype="lvmpv" --size=0 --grow

volgroup ncl pv.478
logvol swap --fstype="swap" --size=8192 --name=swap --vgname=ncl
logvol / --fstype="xfs" --size=8192 --grow --name=root --vgname=ncl

graphical

lang en_US.UTF-8
keyboard us
timezone --isUtc  Asia/Shanghai

network --bootproto dhcp --hostname=pxe.localdomain

repo --name="BaseOS" --baseurl=http://192.168.0.151/cgsl6.02.80.B5/BaseOS/
repo --name="AppStream" --baseurl=http://192.168.0.151/cgsl6.02.80.B5/AppStream/

# Use network installation
url --url="http://192.168.0.151/cgsl6.02.80.B5"

# Root password
rootpw 888888  --plaintext
# 
user --name=pxe --password=888888 --plaintext

#
authconfig --enableshadow --passalgo=sha512

# X Window System configuration information
xconfig --startxonboot

# System services
services --enabled="chronyd"

firewall --disabled
selinux --disabled


%packages
# Environment
@^Server with GUI
#@^Minimal Install

# Individual
tcpdump
telnet
ftp
unzip
expect
gcc
gcc-c++
gdb
valgrind
strace
autoconf
automake
make
cmake
binutils
gettext
libtool
pkgconfig
git
kernel-devel
kernel-headers
tigervnc-server
%end

%post
%end
